#work-area {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><rect width="10" height="10" fill="none" stroke="lightgrey" stroke-width="1"/></svg>');
  width: 595px;
  height: 841px;
  box-sizing: border-box;
  outline: solid grey;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 595px;
  max-height: 841px;
  border: 1px solid black;
}
.input-group {
  display: flex;
  align-items: center;
}

.input-field {
  margin: 5px;
  border: 1px solid rgb(26, 26, 48);

  width: 100px;
}

.form-label {
  margin: 10px 10px 10px 5px;
}

.width {
  margin-right: 15px;
}

#white-count {
  margin-top: 20px;
}

.slider {
  width: 300px;
}

.section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
}

.dimensions {
  background-color: rgb(255, 255, 255);

  padding: 10px;
  border-radius: 20px;
}

.form-control {
  border-radius: 10px;
}
